<div class="box-contain">
    <div class="box-header">Bill</div>
    <div class="box-content">
        <div class="row">
            <div class="col-md-12">
                <mat-table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="select">
                        <mat-header-cell *matHeaderCellDef>
                            <mat-checkbox (change)="$event ? masterToggle() : null"
                                        [checked]="selection.hasValue() && isAllSelected()"
                                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                            </mat-checkbox>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <mat-checkbox (click)="$event.stopPropagation()"
                                        (change)="$event ? selection.toggle(row) : null"
                                        [checked]="selection.isSelected(row)">
                            </mat-checkbox>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="bill_code">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Mã hóa đơn </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.bill_code}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Trạng thái </mat-header-cell>
                        <mat-cell *matCellDef="let row"> 
                            <mat-form-field>
                                <mat-select [(value)]="row.status" (change)="changeSelectStatus(row)">
                                    <mat-option value="new">New</mat-option>
                                    <mat-option value="open">Open</mat-option>
                                    <mat-option value="pending">Pending</mat-option>
                                    <mat-option value="solved">Solved</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="total">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Tổng tiền </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.total | number}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="assign">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Agent </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.assign}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="customer">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Tên khách hàng </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.customer}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="address">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Địa chỉ </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.address}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="phone">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Phone </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.phone}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="payment">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Tình trạng </mat-header-cell>
                        <mat-cell *matCellDef="let row"> <mat-slide-toggle [checked]="row.payment == 0 ? false : true" (change)="updateStatusPayment(row.id,row.payment)"></mat-slide-toggle> </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="payment_type">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Hình thức </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.payment_type | titlecase}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="create_at">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Ngày tạo </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.create_at * 1000| date:'d/M/yyyy'}} </mat-cell>
                    </ng-container>
                
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;">
                    </mat-row>
                </mat-table>
                <div class="row">
                    <div class="col-md-6" style="padding: 3px 6px;background: #fff;line-height: 3;">
                        <button class="btn btn-danger" mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" placement="bottom" (confirm)="clickTrash()">
                            <fa name="trash"></fa>
                        </button>
                    </div>
                    <div class="col-md-6">
                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
