<div class="box-contain" height="100%">
    <div class="box-header">Sản phẩm</div>
    <div class="box-content" >
        <div class="row" >
            <div class="col-md-12" style="position : relative">
                <div style="position : absolute;height: 25px;width: 25px;cursor : pointer;color: #fff;text-align: center;line-height: 1.8;border-radius: 100%;background: #ccc;right : 5px;top : -10px">
                    <fa name="minus"></fa>
                </div>
                <div style="padding : 10px;border: 2px solid #e4e4e4;border-radius: 4px;width: 100%;clear: both;overflow: hidden;">
                    <form (ngSubmit)="onSubmit()" #form="ngForm">
                        <div class="row">
                            <div class="col-md-6 text-right" style="line-height: 4">
                                Sản phẩm*
                            </div>
                            <div class="col-md-6">
                                <mat-form-field style="width : 100%">
                                    <input matInput placeholder="Product" required minlength="3" maxlength="60" id="name" name="name" [(ngModel)]="model.name" #name="ngModel" >
                                    <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
                                        <span *ngIf=" name.errors.required">trường này không được trống</span>
                                        <span *ngIf=" name.errors.minlength">ít nhất 3 ký tự</span>
                                        <span *ngIf=" name.errors.maxlength">nhìu nhất 60 ký tự</span>
                                    </mat-error>                                    
                                </mat-form-field>
                            </div>
                        </div>                       
                        <div class="row">
                            <div class="col-md-6 text-right" style="line-height: 4">
                                Price*
                            </div>
                            <div class="col-md-6">
                                <mat-form-field style="width : 100%">
                                    <input type="number" required matInput placeholder="Price" minlength="3" maxlength="60" name="price" [(ngModel)]="model.price" #price="ngModel">
                                    <mat-error *ngIf="price.invalid && (price.dirty || price.touched)">
                                        <span *ngIf=" price.errors.required">trường này không được trống</span>
                                        <span *ngIf=" price.errors.minlength">ít nhất 3 ký tự</span>
                                        <span *ngIf=" price.errors.maxlength">nhìu nhất 60 ký tự</span>
                                    </mat-error> 
                                </mat-form-field>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-md-6 text-right" style="line-height: 2">
                                Chủ đề*
                            </div>
                            <div class="col-md-6">
                                <select required [(ngModel)]="model.category" name="Chủ đề" class="form-control">
                                    <option value="">Chọn chủ đề</option>
                                    <option *ngFor="let i of listCategory" value="{{i.id}}">{{i.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-right" style="line-height: 4">
                                Hình*
                            </div>
                            <div class="col-md-3" style="line-height: 4">
                                <button type="button" class="btn btn-default" (click)="file.click()">Chọn hình sản phảm</button>
                                <input #file class="hide" type="file"  name="img" (change)="readUrl($event)" accept=".jpg,.png">
                            </div>
                            <div class="col-md-3" style="line-height: 4;max-height : 350px;margin-top : 10px;overflow : hidden;padding : 0">
                                <img *ngIf="fakeUrl" [src]="fakeUrl" width="100%">
                            </div>
                        </div>        
                        <div class="row" style="margin-top : 10px">             
                            <div class="col-md-6 col-md-offset-6">
                                <button type="submit" class="btn btn-primary" [disabled]="!form.form.valid"><fa name="plus"></fa> Thêm</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="select">
                        <mat-header-cell *matHeaderCellDef>
                            <mat-checkbox (change)="$event ? masterToggle() : null"
                                        [checked]="selection.hasValue() && isAllSelected()"
                                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                            </mat-checkbox>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <mat-checkbox (click)="$event.stopPropagation()"
                                        (change)="$event ? selection.toggle(row) : null"
                                        [checked]="selection.isSelected(row)">
                            </mat-checkbox>
                        </mat-cell>
                    </ng-container>
                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
                    </ng-container>
                    <!-- Img Column -->
                    <ng-container matColumnDef="img">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Hình </mat-header-cell>
                        <mat-cell *matCellDef="let row"> 
                            <div style="max-height : 150px;max-width: 150px;overflow: hidden;">
                                <img src="{{this.base_url}}/public/img/product/{{row.img}}" width="100%" />
                            </div> 
                        </mat-cell>
                    </ng-container>                    
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Sản phẩm </mat-header-cell>
                        <mat-cell *matCellDef="let row"> 
                            <span >{{row.name}}</span> 
                        </mat-cell>
                    </ng-container>
                    <!-- Category Column -->
                    <ng-container matColumnDef="category">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Chủ đề </mat-header-cell>
                            <mat-cell *matCellDef="let row"> 
                                <span>{{row.category}}</span>
                            </mat-cell>
                    </ng-container>
                    <!-- Color Column -->
                    <ng-container matColumnDef="price">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Giá </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.price}} </mat-cell>
                    </ng-container>
                
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editRow(row);">
                    </mat-row>
                </mat-table>
                <div class="row">
                    <div class="col-md-6" style="padding: 3px 6px;background: #fff;line-height: 3;">
                        <button class="btn btn-danger" mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" placement="bottom" (confirm)="clickTrash()">
                            <fa name="trash"></fa>
                        </button>
                    </div>
                    <div class="col-md-6">
                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
