<div  class="h100">
  <div slimScroll class="row" height="1200px">
    <div class="col-md-9 h100">
      <div class="box-contain" style="height: 20%;">
        <div class="box-header">Kết quả bán hàng hôm nay</div>
        <div class="box-content" >
          <div class="row">          
            <div class="col-md-3">
              <div>
                <div style="display: block;float:left;text-align: center;height: 45px;width: 45px;background: #dc6176;border-radius: 100%;color: #fff;padding : 8px"><fa name="usd" size="2x"></fa></div>
                <div style="display: block;float:left;margin-left : 10px">
                  <div><span>1</span> Hóa Đơn</div>
                  <div style="font-size: 18px;font-weight: bold;color: rgb(14, 182, 159)">1.000.000</div>
                  <div>Doanh thu</div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div>
                <div style="display: block;float:left;text-align: center;height: 45px;width: 45px;background: #dc6176;border-radius: 100%;color: #fff;padding : 8px"><fa name="download" size="2x"></fa></div>
                <div style="display: block;float:left;margin-left : 10px">
                  <div><span>1</span> Nhập hàng</div>
                  <div style="font-size: 18px;font-weight: bold;color: rgb(14, 182, 159)">1.000.000</div>
                  <div>Số tiền</div>
                </div>
              </div>
            </div> 
            <div class="col-md-3">
              <div>
                <div style="display: block;float:left;text-align: center;height: 45px;width: 45px;background: #dc6176;border-radius: 100%;color: #fff;padding : 8px"><fa name="usd" size="2x"></fa></div>
                <div style="display: block;float:left;margin-left : 10px">
                  <div>Doanh thu so với hôm qua</div>
                  <div style="font-size: 18px;font-weight: bold;color: rgb(14, 182, 159)">1.000.000</div>
                  <div>Doanh thu</div>
                </div>
              </div>
            </div> 
            <div class="col-md-3">
              <div>
                <div style="display: block;float:left;text-align: center;height: 45px;width: 45px;background: #dc6176;border-radius: 100%;color: #fff;padding : 8px"><fa name="usd" size="2x"></fa></div>
                <div style="display: block;float:left;margin-left : 10px">
                  <div>Doanh thu so với tháng trước</div>
                  <div style="font-size: 18px;font-weight: bold;color: rgb(14, 182, 159)">1.000.000</div>
                  <div>Doanh thu</div>
                </div>
              </div>
            </div>           
          </div>
        </div>
      </div>
      <div class="box-contain" style="height: 40%;margin-top : 10px;">
          <div class="box-header">Doanh thu tháng này</div>
          <div class="box-content" >
            <div class="row">          
              <div class="col-md-12">
                  <div [chart]="chart"></div>
              </div>       
            </div>
          </div>
      </div>
      <div class="box-contain" style="height: calc(40% - 20px);margin-top : 10px;">
          <div class="box-header">Doanh thu tháng này</div>
          <div class="box-content" >
            <div class="row">          
              <div class="col-md-12">
                  <div [chart]="chart"></div>
              </div>       
            </div>
          </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>

