<div class="main">
    <div class="main-header">        
        <div style="height : 100%" class="pull-right">
            <ul>
                <li class="fl lh0" style="position : relative;cursor : pointer;padding : 0 10px;color : #fff;line-height: 4;height: 50px">
                    <fa name="bell" size="2x"></fa>
                </li>
                <li class="fl lh0" style="position : relative;cursor : pointer;padding : 0 10px;color : #fff;line-height: 4;height: 50px">
                    <fa name="comment" size="2x"></fa>
                    <span id="total-not-seen" class="number-chat-not-seen">2</span>
                </li>
                <li class="fl lh0" style="cursor : pointer;position : relative;" (click)="onShowDropdown($event)">
                    <div class="header-info" *ngIf="isShowDropdown" style="position : absolute;right : 0;width: max-content">
                        <ul style="padding : 0;">
                            <li class="lh2 header-info-li" style="font-weight : bold;font-size : 13px">
                                <a routerLink="/logout">
                                    <fa name="user"></fa>
                                    Thiết lập tài khoản
                                </a>
                            </li>
                            <li class="lh2 header-info-li" style="font-weight : bold;font-size : 13px">
                                <a routerLink="/logout">
                                    <fa name="power-off"></fa>
                                    Đăng xuất
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div style="height : 100%">                    
                        <span style="height : 30px;width : 30px;background : #fff;margin : 10px;border-radius : 100%;float : left">
                            <img class="img-circle" src="{{avartar}}" style="height: 100%;width : 100%;"/>
                        </span>
                        <span style="float : left;margin-top : 25px;margin-right : 10px;color : #fff;font-weight : bold">
                            {{name}}
                            <span style="float : right;margin-left: 10px;" class="caret"></span>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-wrapper">
        <div class="left">
            <ul>
                <li *ngIf="privilege.dashboard"><a routerLink="/dashboard" routerLinkActive="active-link" matTooltip="Dashboard" matTooltipPosition="after"><fa name="dashboard"></fa></a></li>
                <li *ngIf="privilege.chat"><a routerLink="/chat" routerLinkActive="active-link" matTooltip="Chat" matTooltipPosition="after"><fa name="comments"></fa> </a></li>
                <li *ngIf="privilege.admin"><a routerLink="/admin" routerLinkActive="active-link" matTooltip="Admin" matTooltipPosition="after"><fa name="user-secret"></fa></a></li>
                <li *ngIf="privilege.customer"><a routerLink="/customer" routerLinkActive="active-link" matTooltip="Khách hàng" matTooltipPosition="after"><fa name="users"></fa></a></li>
                <li *ngIf="privilege.category"><a routerLink="/category" routerLinkActive="active-link" matTooltip="Thể Loại hàng" matTooltipPosition="after"><fa name="cubes"></fa></a></li>
                <li *ngIf="privilege.event"><a routerLink="/event" routerLinkActive="active-link" matTooltip="Sự kiện" matTooltipPosition="after"><fa name="calendar"></fa> </a></li>
                <li *ngIf="privilege.producer"><a routerLink="/producer" routerLinkActive="active-link" matTooltip="Nhà sản xuất" matTooltipPosition="after"><fa name="university"></fa></a></li>
                <li *ngIf="privilege.provider"><a routerLink="/provider" routerLinkActive="active-link" matTooltip="Nhà cung cấp" matTooltipPosition="after"><fa name="building" ></fa></a></li>
                <li *ngIf="privilege.product"><a routerLink="/product" routerLinkActive="active-link" matTooltip="Sản phẩm" matTooltipPosition="after"><fa name="database"></fa></a></li>
                <li *ngIf="privilege.bill"><a routerLink="/bill/add" routerLinkActive="active-link" matTooltip="Hóa Đơn" matTooltipPosition="after"><fa name="newspaper-o"></fa></a></li>
                <li *ngIf="privilege.import"><a routerLink="/import/add" routerLinkActive="active-link" matTooltip="Nhập hàng" matTooltipPosition="after"><fa name="download"></fa></a></li>
                <li *ngIf="privilege.report" style="position: relative;z-index: 100;">
                    <a routerLink="/report" routerLinkActive="active-link" matTooltip="Báo cáo" matTooltipPosition="after"><fa name="bar-chart"></fa></a>
                </li>
            </ul>
        </div>
        <div class="right">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>