<div class="main">
  <div class="main-header">        
      <div style="height : 100%" class="pull-right">
          <ul>
              <li class="fl lh0" style="cursor : pointer" (click)="onShowDropdown($event)">
                  <div class="header-info" *ngIf="isShowDropdown">
                      <ul style="height : 100%;padding : 0">
                          <li class="lh2 header-info-li" style="font-weight : bold;font-size : 13px">
                              <a routerLink="/logout">
                                  <fa name="user"></fa>
                                  Thiết lập tài khoản
                              </a>
                          </li>
                          <li class="lh2 header-info-li" style="font-weight : bold;font-size : 13px">
                              <a routerLink="/logout">
                                  <fa name="power-off"></fa>
                                  Đăng xuất
                              </a>
                          </li>
                      </ul>
                  </div>
                  <div style="height : 100%">
                      <span style="height : 30px;width : 30px;background : #fff;margin : 10px;border-radius : 100%;float : left"></span>
                      <span style="float : left;margin-top : 25px;margin-right : 10px;color : #fff;font-weight : bold">
                          {{name}}
                          <span style="float : right;margin-left: 10px;" class="caret"></span>
                      </span>
                  </div>
              </li>
          </ul>
      </div>
  </div>
  <div class="main-wrapper">
        <div class="left">
            <ul>
                <li *ngIf="privilege.dashboard"><a routerLink="/dashboard" routerLinkActive="active-link"><fa name="dashboard"></fa> Dashboard</a></li>
                <li *ngIf="privilege.chat"><a routerLink="/chat" routerLinkActive="active-link"><fa name="message"></fa> Chat</a></li>
                <li *ngIf="privilege.admin"><a routerLink="/admin" routerLinkActive="active-link"><fa name="users"></fa> Admin</a></li>
                <li *ngIf="privilege.category"><a routerLink="/category" routerLinkActive="active-link"><fa name="cubes"></fa> Category</a></li>
                <li *ngIf="privilege.product"><a routerLink="/product" routerLinkActive="active-link"><fa name="database"></fa> Product</a></li>
                <li *ngIf="privilege.bill"><a routerLink="/bill" routerLinkActive="active-link"><fa name="address-book"></fa> Bill</a></li>
                <li *ngIf="privilege.import"><a routerLink="/import" routerLinkActive="active-link"><fa name="cart-plus"></fa> Nhập hàng</a></li>
                <li *ngIf="privilege.report">
                    <a routerLink="/report" routerLinkActive="active-link"><fa name="bar-chart"></fa> Báo cáo</a>
                </li>
            </ul>
        </div>
        <div class="right">
            <router-outlet></router-outlet>
        </div>
  </div>
</div>