/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
ul>li{
    list-style: none;
}
body,html{
    height: 100%;
    width: 100%;
}
.h100{
    height: 100%;
}
.w100{
    width: 100%;
}
.row{
    margin : 0;
}
.text-center{
    text-align : center
}
a{
    color: #333;
    text-decoration: none;
    display: block;
}
p{
    margin : 0;
}
a:hover{
    text-decoration: none;
}
.fl{
    float: left;
}
.lh0{
    line-height: 0;
}
.lh1{
    line-height: 1;
}
.lh2{
    line-height: 2;
}
.p10{
    padding: 10px;
}
.bgW{
    background: #fff
}
.box{
    box-shadow:3px 5px 1px 2px #ccc;
    background : #fff
}
.box-contain{
    border-radius: 4px;
    background: #fff; 
    min-height: 150px;
    min-width: 150px;
    max-height: 100%;
    overflow-x: auto;
}
.box-contain>.box-header{
    padding: 10px;
    min-height: 5%;
    border-top: 3px solid #ccc;
    background: #eee;
}
.box-contain>.box-content{
    min-height: 30%;
    max-height: 100%;
    padding: 10px;    
}
.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
} 
.mat-column-select {
    overflow: visible;
}
.hide{
    display: none;
}
.block{
    display: block;
}