/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
*{
    margin : 0;
    padding : 0;
    font-size : 11px;
}
ul>li{
    list-style: none;
}
body,html{
    height: 100%;
    width: 100%;
}
.btn {
    font-size : 11px;
    padding : 3px 6px;
}
.media {
    margin-top: 0;
}
.h100{
    height: 100%;
}
.w100{
    width: 100%;
}
.row{
    margin : 0;
}
.text-center{
    text-align : center
}
a{
    color: #333;
    text-decoration: none;
    display: block;
}
p{
    margin : 0;
}
a:hover{
    text-decoration: none;
}
.fl{
    float: left;
}
.lh0{
    line-height: 0;
}
.lh1{
    line-height: 1;
}
.lh2{
    line-height: 2;
}
.p10{
    padding: 10px;
}
.bgW{
    background: #fff
}
.box{
    box-shadow:3px 5px 1px 2px #ccc;
    background : #fff;
    width: 100%;
}
.box-contain{
    border-radius: 4px;
    background: #fff; 
    min-width: 150px;
    max-height: 100%;
    overflow-x: auto;
    height: 100%;
}
.box-contain>.box-header{
    padding: 0 5px;
    height: 25px;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.5;
    border-top: 3px solid #ccc;
    background: #eee;
}
.box-contain>.box-content{
    height: calc(100% - 25px);
    padding: 10px; 
    background: #fff;   
}
.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
} 
.mat-column-select {
    overflow: visible;
}
.hide{
    display: none;
}
.block{
    display: block;
}
.number-chat-not-seen{
    display: none !important;
}
.not-seen.number-chat-not-seen{
    color: #fff;
    font-weight: bold;
    text-align: center;
    height: 20px;
    background: red;
    line-height: 1.4;
    width: 20px;
    display: block !important;
    border-radius: 100%;
    position: absolute;
    right: 5px;
    top: 0;
}
.activeChat{
    margin-right: -1px;
    border-right: 1px solid #fff;
    background: #fff;
    display: block !important;
}
.mess-reply{
    float: right !important;
}
.chat-body{
    width: max-content;
    background: #2374ac;
    color: #fff;
    border-radius: 4px;
    padding: 10px;
}
.mess-reply .chat-body{
    background: #23ac45;
}
.contentChat{
    overflow-x : hidden;
    background : #fff;
}
li.list-user{
    padding: 5px;
    border-bottom : 1px solid #ccc;
    position: relative;
}
.disable-user{
    background: #ccc;
}
li.list-user>.closeUser{
    height: 15px;
    width: 15px;
    position: absolute;
    background: #fff;
    border-radius: 100%;
    display: none;
    top : 0;
}
li.list-user.disable-user>.closeUser{
    display: block;
}
li.list-user>.closeUser>i{
    text-align: center;
    margin: auto;
    display: block;
    cursor: pointer;
}
.modal-header,.modal-footer{
    padding: 5px 10px;
}
.loading{
    position : absolute;
    top : 50px;
    left : 35%;
    box-shadow: 4px 6px 9px 2px #ccc;
}
.loading>span{
    padding : 5px;
    border : 1px solid #e4e4e4;
    border-radius: 4px;
    background: #e4e4e4
}
.btn-choose-date{
    padding: 2px;
    border-radius: 4px;
    font-size : 10px
}
.btn-choose-date.active{
    background: #fff;
    color : #2374ac;
}